<?php
// NOTE: ONLY CHANGE TEXT BETWEEN QUOTES

// The settings in this file are used only on the AllScan Web-app Page,
// they are not sent over the AllStarLink Network.

// Your Callsign, or callsign of your Club, Repeater, etc.
$CALL = "[CALL]";

// Your First Name, First & Last Name, or the name of your Repeater, Club, Hub, Favorite Cat, etc.
// Note: This is not currently used by AllScan
//$NAME = "your-name-here";

// Your location, eg. "Chicago, IL", or "Mt. Woodson, San Diego, CA"
$LOCATION = "[LOCATION]";

// Second Title Line, eg. "Node 56789" or "Main Hub 54321" - Shown in Connection Status Table
$TITLE2 = "[TITLE2]";
